/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
    background-image: url(../images/Basketball-Court-Wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 3em;
    margin-bottom: 0;
    padding-top: 20px;
}
@media (max-width: 460px) {
    h1 {
        font-size: 3.5em;
        line-height: 1.2;
    }
}
p {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: orange;
}
b {
    font-weight: lighter;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(40, 55, 60, 0.8);
    border-radius: 5px;
}
.lang-container {
    position:inherit;
    float: right;
    width: 120px;
    background-color: #333;
    padding: 10px;
}
.lang-container a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    background: #555656;
    font-size: 18px;
}
a.active {
    background-color: orangered;    
}
#survey-form {
    margin: 35px;
}
.form-group {
    max-width: 800px;
    text-align: left;
    font-size: 1.2em;
    padding-bottom: 10px;
}
.form-control {
    font-size: 16px;
}
    .form-control:focus {
        outline: none !important;
        border: 2px solid orange;
        border-radius: 4px;
    }

::placeholder {
    color: #ccc;
}
label {
    display: flex;
    align-items: center;
}
#nameLabel, #emailLabel, #numberLabel {
    margin-top: 10px;
    font-size: 1.2em;
    color: orange;
}

input[type=text], input[type=email], input[type=number] {
    width: 100%;
    padding: 10px 14px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input.input-radio {
    transform: scale(1.5);
    margin: 0 10px 0 15px;
}
p.watch {
    padding-bottom: 5px;
}
input.input-checkbox {
    transform: scale(1.5);
    margin-right: 10px;
}

select {
    width: 100%;
    padding: 10px 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none; 
}
textarea:focus {
    outline: none !important;
    border: 5px solid orange;
    border-radius: 4px;
}
    .input-textarea {
        font-size: 16px;
    }

button[type=submit] {
    width: 100%;
    background-color: #04aa6d;
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
}
